<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store-connect</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.seongwoo.focusmark</key>
		<string>Timebox Mark App Store</string>
		<key>com.seongwoo.focusmark.PomodoroWidgetExtension</key>
		<string>Timebox Mark Widget App Store</string>
	</dict>
	<key>signingCertificate</key>
	<string>F9F0B99EC9F4C7C82919F25E85E4A8AF231A1A1C</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>HC9DTZBGLT</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
